# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
build/
dist/
*.egg-info/
.pytest_cache/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
companion_app/build/
companion_app/.dart_tool/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
web_app/uploads/*
!web_app/uploads/.gitkeep
data/*
!data/.gitkeep
.env
